* {
    box-sizing: border-box;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    border-width: 0;
    color: $main-text-color;
}

h1, h2 {
    font-size: 55px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

title, button, a, li {
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, h3 {
    font-size: 18px;
    font-weight: normal;
    font-family: serif;
}

ol, ul {
    list-style: none;
}

body {
    width: 80%;
    height: auto;
    background-color: $background-image-placeholder;
    background-image: url('/images/bg.jpg');
    background-size: 100%;
    background-position: center top 35%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

title {
    display: inline-block;
    color: $main-background-color;
    font-size: 30px;
    padding: 12px;
    margin: 60px auto;
    border: 5px solid $main-background-color;
}

nav ul {
    text-align: left;
    background-color: $nav-background-color;
}

nav ul li {
    margin: 0;
    display: inline-block;
    padding: 20px;
}

nav ul li:first-child {
    background-color: $main-background-color;
}

nav ul li:not(:first-child) {
    color: $main-background-color;
}

.main {
    background-color: $main-background-color;
}

.content-block article {
    padding: 60px;
    border-color: $main-background-border-color;
    border-style: solid;
}

.content-block h3 {
    padding-bottom: 60px;
}

.content-block p {
    padding: 30px 0;
    line-height: 2;
    font-style: italic;
    overflow: hidden;
}

.featured article {
    width: 100%;
    border-bottom: 2px solid $main-background-border-color;
}

.other {
    display: flex;
    flex-wrap: wrap;
}

.other article {
    min-width: 50%;
    max-width: 50%;
}

.other h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.other h3 {
    font-size: 16px;
    padding-bottom: 20px;
}

.other p {
    max-height: 120px;
}

.img {
    background-color: $background-image-placeholder;
    opacity: 100%;
    width: 100%;
}

.featured .img {
    height: 600px;
}

.other .img {
    height: 300px;
}

.content-block button {
    font-size: 12px;
    padding: 18px 48px;
    margin: 30px auto 0;
    border: 2px solid $main-text-color;
    background-color: $main-background-color;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}