@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
    background-color: magenta;
}

head {
    display: none;
}

body {
    -ms-overflow-style: scrollbar;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    border-width: 0;
    border-style: solid;
    border-color: $whitish;
    color: $whitish;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}