$background-image-placeholder: rgb(32, 19, 17);
$main-background-color: rgb(255, 255, 255);
$nav-background-color: rgba(255, 255, 255, 0.365);
$main-background-border-color: rgba(0, 0, 0, .1);
$main-text-color: black;