.bg {
    position: fixed;
    top: 0;
    border: 3px solid lightgreen;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: black;
    background-image: url('/images/bg3.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}