header {
    position: fixed;
    width: 100%;
    height: 30%;
    background: linear-gradient($darkGrey, transparent);
}

.items {
    height: 80px;
    margin: 0 auto;
    padding: 20px 10px;
}

.links {
    //display: inline;
    float: right;
    text-align: right;
}

.logo {
    word-spacing: -4px;

    @include breakpoint-up(large) {
        float: left;
    }
}

a {
    display: inline-block;
    font-size: 28px;
    //font-weight: bold;
    padding: 3px 8px;
    margin: 0 5px;
    border-width: 1.5px;
    border-radius: 10px;
}