header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  text-align: center;
  font-size: 0;
  height: 100%;
  width: min-content;
  margin: 0 auto;

  @include breakpoint-up(medium) {
    float: left;
    text-align: left;
    margin: 0 20px 0 10px;
  }

  > h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 0 10px 30px;
    text-decoration: underline;
  }

  > .links {
    font-size: 0;
  
    > a {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 12px;
      margin: 0 auto 30px;
      padding: 48px 24px;
      border-width: 1px;
      border-radius: 8px;
  
      @include breakpoint-up(large) {
        text-align: left;
      }
      
    }
  }
}