#main {

    margin-top: 300px;

    > h1 {
        width: 80%;
        max-width: max-content;
        font-weight: bold;
        font-size: 20px;
        margin: 0 auto 50px;
    }

    .posts {
      text-align: left;
      margin: 0 auto;
      width: 400px;
      @include breakpoint-up(medium) {
        width: 800px;
      }
      @include breakpoint-up(large) {
        width: 1200px;
      }
      @include breakpoint-up(xlarge) {
        width: auto;
      }
    }

    > .posts .post {
        padding: 10px;
        margin: 0 auto 20px;
        width: 80%;

        @include breakpoint-up(medium) {
            display: inline-block;
            width: 50%;
        }

        @include breakpoint-up(large) {
            margin: 0 0 20px;
            display: inline-block;
            width: 400px;
        }

        h2 {
            font-size: 24px;
            text-decoration: underline;
        }

        div {
            background-color: $grey;
            height: 300px;

            @include breakpoint-up(medium) {
                height: 340px;
            }

            @include breakpoint-up(large) {
                height: 300px;
            }
        }
    }

    > h1, .posts .post div {
        border-radius: 10px;
        border-width: 2px;
        padding: 18px 10px;
    }
}