#main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;

  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 50px minmax(calc(100% - 50px), 1fr);

  border-radius: 15px;
  background-color: $grey;
  
  overflow: hidden;

  > .header {
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 15px 5px 10px;
    margin-bottom: 5px;
  }

  > .back {
    grid-column-start: 1;
    grid-column-end: 2;

    text-align: right;
    font-size: 15px;
  }

  > .content-title {
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: center;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 16px;
  }

  > .left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    border-radius: 15px 0 0 15px;
  }
  > .right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    border-radius: 0 15px 15px 0;
  }
  
  > .scrollable {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }    

    height: calc(100% - 14px);
    padding: 10px 0;
    margin: 0 5px;

    border-color: $highlight;
    border-style: dashed;
    border-width: 1px 0;

    > section {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;

      height: min-content;
      
      > p {
        font-family: sans-serif;
        text-align: left;
        font-size: 14px;
        line-height: 2;
        padding: 0 12px;
        margin: 25px 0;
        border-color: $highlight;
        border-style: dashed;
        border-left-width: 1px;

        > .br {
          font-size: 0px;
          margin-bottom: 10px;
        }
      }

      > .image {
        width: 180px;
        height: 180px;
        margin: 0 auto 18px;

        border-radius: 50%; 

        background-image: url('/images/aboutMe.JPG');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  @include breakpoint-up(medium) {
    position: static;
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-template-columns: 60px 1fr 60px;

    > .content-title {
      font-size:  24px;
      letter-spacing: 18px;
    }

    > .scrollable {

      > section {
        p {
          text-align: center;
          font-size: 16px;
          line-height: 2.2;
          padding: 0 20px;
          margin: 40px 0;
        }

        .image {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  @include breakpoint-up(large) {
    grid-template-rows: 70px minmax(calc(100% - 70px), 1fr);

    > .content-title {
      text-align: left;
      font-size:  30px;
      letter-spacing: 18px;
    }

    > .scrollable {
      p {
        text-align: left;
        padding: 0 30px;
      }

      .image {
        width: 350px;
        height: 350px;
        margin: 0 10px 70px;
      }
    }
  }
}