#main {
  background-color: $grey;
  padding: 30px;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;

  > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 2;
  }

  > .image {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    background-image: url('/images/aboutMe.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
  }

  @include breakpoint-up(medium) {
    position: static;
    flex: 1;
    padding: 50px;
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 3;

    > p {
      font-size: 18px;
      line-height: 2.2;
    }

    > .image {
      width: 250px;
      height: 250px;
    }
  }

  @include breakpoint-up(large) {
  }
}